*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    
}

body{
    background-color: black;
    color: white;
}

.card-img{
    max-height: 22rem;
    min-height: 22rem;
}

.msgError{
    color: red;
}

.fa-bookmark{
    font-size: 38px;
}

ul{
    list-style: none;
    position: absolute;
    padding: 5px;
}

li{
    background-color: #121b1b;
    border-bottom: 2px solid white;
}

.lista{
    color: white;
}

.formulario{
    margin: 80px auto;
}

.form-control, .msgError{
    min-width: 400px;
    max-width: 400px;
}


.busqueda-thumbnail{
    max-width: 3rem;
}

.busqueda-titulo{
    font-size: 16px;
}

.busqueda-detalle{
    padding-left: 25px;
    padding-top: 10px;
}

.input-busqueda, li {
    min-width: 40rem;
    padding-bottom: 5px;
    padding-top: 5px;
}

#detallePelicula{
    margin: 4rem;
}

.poster-container{
    width: 300px;
}


.poster{
    width: 100%;
}

.poster-seguimiento{
    width: 200px;
}

.infoPelicula{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h3{
    text-align: center;
}

.registrarse{
    margin: 20px;
}

.navbar-brand{
    padding-left: 10px;
    color:darkorange;
}

.nav-der{
    width: 400px;
}